 .MuiListItem-root:hover {
    cursor: pointer;
    background-color: linen;
  }

.listContainer{
    align-items: left;
    overflow-y: auto;
    /* max-height: 38vh !important; */
}

/* Estilo específico para pantallas de altura reducida (por ejemplo, hasta 600px de alto) */
@media screen and (max-height: 600px) {
  .listContainer {
      max-height: 30vh; /* Cambia el valor según necesites */
  }
}

/* Estilo específico para pantallas de altura media (por ejemplo, entre 601px y 900px de alto) */
@media screen and (min-height: 601px) and (max-height: 900px) {
  .listContainer {
      max-height: 35vh; /* Cambia el valor según necesites */
  }
}

/* Estilo específico para pantallas de altura grande (por ejemplo, más de 900px de alto) */
@media screen and (min-height: 901px) {
  .listContainer {
      max-height: 44vh; /* Cambia el valor según necesites */
  }
}


.fab-button {
    position: fixed !important;
    bottom: 32px; /* Ajusta la distancia desde el borde inferior */
    right: 48px; /* Ajusta la distancia desde el borde derecho */
    z-index: 1 !important; /* Establece el z-index deseado para estar por encima del contenido */
  }