

.MuiInputAdornment-root{
    height: auto !important;
    max-height: max-content !important;
    
    width: 48px !important; 
margin-right: 8px;
    border-radius: 50%;
    border-color: orangered !important;
   border-width: 1px;
   border-style: solid;

}





.box{
    width: 100% !important;
    max-height: 60% !important;
}