.selectorContainer{
    width: 100% !important;
}

.row.registerUserRow{
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.errorMessage{
    font-size: 10px;
}

.icons
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 12px;
    margin-left: 12px;

}

.card-title{
    font-family: BerkshireSwash !important;
    color: #EB5401;
    font-size: 36pt;
}

.card-subtitle{
    font-family: nunitoBold !important;
    font-size: 14pt;
}

/* .MuiBox-root{
    -webkit-align-items: center !important;
} */

.box{
    width: 100% !important;
    max-height: 60% !important;
    align-items: start;
}

.registerPage{
    padding:12px
}
.registerUser{
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,251,215,1) 62%, rgba(250,165,7,1) 100%);
    width: 100%;
    padding-left: 10px !important;
    padding-right: 10px !important;
  
}

@media (min-width: 900px) {
    .formColumn{
        font-family: nunitoRegular;
        width: 25% !important;
    }

    .createBtn{
        margin-top: 25% !important;
        margin: auto;
     }
     

 }

 @media (max-width: 900px) {
    .formColumn{
        font-family: nunitoRegular;
        margin-bottom: 1rem;
        width: 90% !important;
    }

    .createBtn{
        margin-left: 50%;
     }
     

 }


label, input{
    font-family: nunitoLight !important;
}
