.backButton{
    width: 28px !important;
}

h6, h5{
    font-family: nunitoMedium !important;
}

label, input{
    font-family: nunitoLight !important;
}

.icons
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 12px;

}


.box{
    width: 100% !important;
    max-height: 60% !important;
}

@media (max-width: 768px) {
    .inicioSesionMobile .card{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-left: 2px !important;
        padding-right: 2px !important;
        margin-bottom: 2px !important;
        margin-left: 2px !important;
        height: auto;
    }

 }

.inicioSesion .card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    height: auto;
}

.create:hover{
color: orange!important ;
}

.recover:hover{
    color:#C4C4C4!important;
}
.access:hover,.recoverBtn:hover,.createBtn:hover{
    background-color: #C4C4C4 !important;
    border-color: #C4C4C4 !important;
}
.access , .btn-primary{
    background-color: #018C96 !important;
    width: 164px;
    border-color: #018C96 !important;
    color:white !important;
}