
#welcomeImg{
    height: auto;
}

@media (max-width: 768px) {
    .inicioSesion{
        display: none;
    }

 }

.portadaPrincipal{
    font-family: nunitoMedium;
    font-size: 36;
    color: white;
    
}
.welcome{
    background-image: linear-gradient(#EB5401, #EFB52B);
    
  
  
}