

#logo{
    width: max-content;
    font-family: BerkshireSwash;
    font-size: x-large;
    color: white;
}

button{
    font-family: nunitoRegular !important;
    letter-spacing: 0.05em; 
}

.mainNavBar{
    background-color: var(--base-color);
}
