.registerUser{
    background: #F2F2F2;
    padding-left: 0 !important;
    padding-right: 0 !important;
 
  
}

.mainContainer{
    width: -webkit-fill-available;
    margin: 12px;
    background-color: white !important;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 8px;
}